@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;800&display=swap');

:root {
    --cor-primaria: #ffffff;
    --cor-secundaria: #F2CF1D;
    --cor-terciaria: #ffe0cb;
    --cor-hover: #3e96b9;
    --cor-de-fundo: #49C2F2;

    --fonte-primaria: 'Bebas Neue', cursive;
    --fonte-secundaria: 'Montserrat', sans-serif;
    ;
}

* {
   margin: 0;
   padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    font-family: var(--fonte-primaria);
    letter-spacing: .15rem;    
    font-size: 1.5rem;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 0rem 0 5rem;
}

.logo__imagem {
    display: flex;
    width: 10%;
}

.nav__principal {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    list-style-type: none;
    margin: 0 10rem 0 0;
}

.nav__principal__item {
    display: flex;
    justify-content: right;
    text-decoration: none;
    color: black;

}

.nav__principal__item:hover {
    color: var(--cor-hover);
    font-size: 1.6rem;
    transition: .2s;
}

main {
    display: grid;
    grid-template-columns: 27% 73%;
}

.conteudo__principal {
    background-color: var(--cor-primaria);
    margin: 6% 5% 6% 0%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.vitrine {
    max-height: 350px;
}

.vitrine__produtos {
    list-style-type: none;
    margin: 3%;
    padding: 0 0 10% 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.cartaz__imagem {
    height: 90%;
    width: 90%;
    margin: 0;
    border: 1px solid black;
    border-radius: 5px;
}

.cartaz__imagem:hover {
    height: 95%;
    width: 95%;
    transition: .2s;
}

.descricao__produto {
    text-decoration: none;
}

.descricao__produto__nome {
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    max-width: 90%;
    color: black;
    text-decoration: none;
}

.descricao__produto__nome:active{
    color: var(--cor-hover);
}

.categorias {
    background-image: url('./assets/op-wallpaper.jpg');
    background-color: var(--cor-terciaria);
    background-position: 50%;
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0 7% 0 0;
    display: flex;
    width: 85%;
    position: static;

}

.categorias__pesquisa {
    width: 100%;
    font-family: var(--fonte-secundaria);
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
}

.nav__lateral {
    text-decoration: none;
    color: black;
    font-size: rem;
    border: 2px solid var(--cor-primaria);
    background-color: var(--cor-de-fundo);
    opacity: 75%;
    padding: 10px 30px;
    border-radius: 10px;
}

.nav__lateral:hover  {
    background-color: var(--cor-hover);
    color: var(--cor-primaria);
    opacity: 100%;
    transition: .2s;
}

.rodape {
    margin: 0rem 0rem 0rem 0rem;
    height: 8rem;
    background-color: var(--cor-secundaria);
}

.nav__rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 0 0;
    gap: 3rem;
    list-style-type: none;;
}

.nav__rodape__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.nav__rodape__item:hover {
    color: var(--cor-hover);
}

.rodape__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.9rem;
    gap: 0.5rem;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 12px;
}

